<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mylocal_site</title>

    <link rel="stylesheet" href="{{ url_for("static", filename="css/index.css") }}">
</head>
<body>
    <div class="temp">
        Temp: <div id="content"></div>  
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>  
        function show()  
        {  
            $.ajax({  
                url: "/temp",  
                cache: false,  
                success: function(html){  
                    $("#content").html(html);  
                }  
            });  
        }  
    
        $(document).ready(function(){  
            show();  
            setInterval('show()', 600000);  
        });  
    </script>
</body>
</html>